@using Ticket.Models.Ticket
@using Ticket.Common
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminManageLayout.cshtml";
    TicketBatchModel showModel = ViewBag.model == null ? new TicketBatchModel() : (TicketBatchModel)ViewBag.model;
    List<TreeSelect> treeSelects = (List<TreeSelect>)ViewBag.selectTrees;
} 
<script src="@Util.WebJsPath/Resource/js/Area/areadata.js" type="text/javascript"></script>
<script src="@Util.WebJsPath/Resource/js/Area/area.js" type="text/javascript"></script>
<form class="layui-form" action="" lay-filter="example">
<div class="layui-form-item" style="display: none;">
    <label class="layui-form-label">
        Id</label>
    <div class="layui-input-block">
        <input type="text" name="Id"  autocomplete="off" placeholder="" value="@showModel.ID"
            class="layui-input">
    </div>
</div>
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        批次号</label>
    <div class="layui-input-inline">
        <input type="text" name="TicketBatchNo" lay-verify="TicketBatchNo" autocomplete="off"
            placeholder="自动生成" value="@showModel.TicketBatchNo" disabled="disabled" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        字母或数字，最小5位</div>
</div> 
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        卡描述</label>
    <div class="layui-input-inline">
        <input type="text" name="TicketBatchName" lay-verify="TicketBatchName" autocomplete="off"
            placeholder="请输入卡描述" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        如：工行专用卡</div>
</div> 
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        区域</label>
    <div class="layui-input-inline">
        <select id="Select1" name="Select1" lay-filter="Select1" style="width: 120px">
        </select>
        <select id="Select2" name="Select2" lay-filter="Select2" style="width: 120px">
        </select>
        <select id="Select3" name="Select3" lay-filter="Select3" onchange="show(this.value)" style="width: 120px">
        </select>
    </div> 
</div>  
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        卡号前缀</label>
    <div class="layui-input-inline">
        <input type="text" id="TicketPrefix" name="TicketPrefix" lay-verify="TicketPrefix" autocomplete="off"
            placeholder="请输入卡号前缀" disabled class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        如：0371</div>
</div>  
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        卡类型</label>
    <div class="layui-input-inline">
         <select name="TicketTypeId" lay-filter="aihao">
        <option value=""></option> 
        @foreach (var item in treeSelects)
        {
        <option value="@item.value"  @(item.id==@showModel.TicketTypeId?"selected":"") >@item.name</option> 
        }
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">
        请选择卡类型</div>
</div>  
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        制卡张数</label>
    <div class="layui-input-inline">
        <input type="text" name="Count" lay-verify="Count" autocomplete="off"
            placeholder="请输入制卡张数" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        如：1000</div>
</div> 
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        排序</label>
    <div class="layui-input-inline">
        <input type="text" name="Sort"  autocomplete="off"
            placeholder="请输入" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        越大越靠前</div>
</div> 
<div class="layui-form-item">
    <label class="layui-form-label">
        启用</label>
    <div class="layui-input-block">
        <input type="radio" name="Status" value="0" title="否">
        <input type="radio" name="Status" value="1" title="是" checked="">
    </div>
</div> 
<div class="layui-form-item layui-hide">
    <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
        value="确认添加">
    <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit"
        value="确认编辑">
</div>
</form>
<script type="text/javascript">
    var moduleKey = "TicketBatch";
    var moduleName = "凭据批次";
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
  , layer = layui.layer
  , layedit = layui.layedit
  , admin = layui.admin
  , laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            TicketBatchName: function (value) {
                if (value.length < 2) {
                    return '卡描述至少2个字符';
                }
            } 
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });


        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段

            PostData(field);
            return false;
        });

        function PostData(data) {
            var postUrl="/Admin/"+moduleKey+"/Add";
            if (Number(data.Id) > 0) {
                postUrl="/Admin/"+moduleKey+"/Edit";
            }
            $.ajax({
                type: 'POST',
                url: postUrl, // ajax请求路径
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
                        //提交 Ajax 成功后，关闭当前弹层并重载表格
                        //$.ajax({});
                        parent.layui.table.reload('idTest'); //重载表格    
                        layer.msg('操作成功');
                        parent.layer.close(index); //再执行关闭 
                    }
                    else {
                        layer.tips("操作不成功", obj.othis);
                    }
                }
            });
        };


        //表单初始赋值
        form.val('example', { 
            "TicketBatchName": "@showModel.TicketBatchName"
            ,"TicketPrefix": "@showModel.TicketPrefix"
            ,"TicketTypeId": "@showModel.TicketTypeId"
            ,"Count": "@showModel.Count" 
            , "Sort": "@showModel.Sort"
            , "radio(Status)": @showModel.Status //开关状态 
        })
    }); 
     
</script>
